<!DOCTYPE html>
<html>
<head>
  <title>Apidae</title>
  <%= stylesheet_link_tag    "apidae/application", media: "all" %>
  <%= javascript_include_tag "apidae/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
